# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
auth_db.sqlite3
platform_dev.db
*.db

# Flutter / Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
requirements-slim.txt
