fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.1
python-dotenv==1.0.1
aiokafka==0.10.0 # For event consumption
sendgrid==6.11.0 # For Email (Default)
twilio==9.0.4    # For SMS (Optional)
jinja2==3.1.4    # For dynamic notification templates
